.react-clock {
  display: block;
  position: relative;

  &, & *, & *:before, & *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  &__face {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    border: 1px solid black;
    border-radius: 50%;
  }

  &__hand {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;

    &__body {
      position: absolute;
      background-color: black;
      transform: translateX(-50%);
    }
  }

  &__mark {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;

    &__body {
      position: absolute;
      background-color: black;
      transform: translateX(-50%);
    }
    
    &__number {
      position: absolute;
      left: -40px;
      width: 80px;
      text-align: center;
    }
  }

  &__second-hand {
    &__body {
      background-color: red;
    }
  }
}
